.genre__card {
    width: 290px;
    height: 304px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--background-black, $dark-green);
    box-shadow: 0px 0px 80px 0px rgba($white, 0.25);
    transition:
      transform $transition-800,
      box-shadow $transition-800 !important;
    animation: fadeIn 0.5s ease;

      @include vp-1023 {
      width: 100%;
      height: 100%;
      }

     @include vp-767 {
      width: 100%;
      height: 100%;
      }

    &-image {
      width: 100%;
      height: 100% !important;
      object-fit: cover;
      border-radius: 24px 24px 0 0;
    }

    &-title {
      padding: 22px 0 30px 0;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      display: flex;
      text-align: center;
      color: $white;
    }

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0px 1px 30px 0px $perano;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }