@use "../../global/variables" as *;
@use "../../global/mixins" as *;

.custom__register {
  display: flex;
  border: 1px solid rgba($black, 0.4);
  border-radius: 8px;
  width: 100%;
  height: 56px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  padding: 16px 10px 16px 52px;
  outline: none;
  cursor: pointer;
  transition: border $transition-800;


  &::placeholder {
    color: rgba($black, 0.4);
  }

  &:hover,
  &:focus {
    border: 1px solid var(--content-active, $perano);

    // Выбираем иконку, которая идет сразу после инпута
    & + .custom__name-icon,
    & + .custom__email-icon,
    & + .custom__key-icon,
    & + .custom__email-icon {
      color: $perano;
    }
  }
}

.custom__name-icon,
.custom__email-icon,
.custom__key-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  color: rgba($black, 0.4);
  transition: color $transition-800;
  cursor: pointer;
}
