@use "../../../app/scss/global/variables" as *;
@use "../../../app/scss/global/mixins" as *;

.register-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: stretch;
  gap: 12px;

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
  }
}
