@use "../global/variables" as *;

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none; // важно для Link
  border-radius: 28px !important;
  background-color: $montana !important;
  padding: 0;
  margin: 0;
  font-weight: 700 !important;
  font-size: 18px !important;
  line-height: 24px !important;
  color: $white !important;
  transition: background-color $transition-800 !important;


  -webkit-tap-highlight-color: transparent;
  @media (hover: hover) {
    &:hover {
      background-color: $cornflower-blue !important;
    }
  }

  
  &:focus-visible {
    outline: none;
  }
  &:active {
    outline: none;
    color: $white;
    background-color: $montana !important;
    opacity: 0.8;
  }
}
