.genre__show {
  height: 56px;
  text-align: center;

  &-btn {
    background-color: $montana !important;
    box-shadow: none !important;
    height: 100% !important;
    padding: 0;
    transition: background-color $transition-800 !important;

    @include vp-767 {
      width: 100%;
      background-color: rgba(106, 93, 194, 1);
    }

    span {
      padding: 16px 48px !important;
    }

    &:hover {
      background-color: $cornflower-blue !important;

      @include vp-767 {
        background-color: $slate-blue !important;
      }
    }

    &:focus,
    &:active {
      outline: none;
      color: $white;
      background-color: transparent;
    }
  }
}
