// Цвета
$slate-blue: #6a5dc2;
$perano: #b4a9ff;
$black: #000000;
$night-rider: #333333;
$cornflower-blue: #67a5eb;
$heliotrope: #dc5dfc;
$slate-blue: #6a5dc2;
$white: #ffffff;
$montana: #393b3c;
$aquamarine: #a393f5e5;
$perano: #B4A9FF;

$dim-gray: #747474;
$east-bay: #45526e;
$cream: #FFFFFFCC;
$dark-green: #0a0b0b;
$salmon: #FF7575;
$midnight-express: #121e39;

//Color rating 
$forest-green: #308e21;
$lucky: #A59400;
$grey: #777777;
$fire-brick: #C82020;


// Typography

$ff-play: "Play", sans-serif;

// Viewport

$vp-tablet: 1023px;
$vp-mobile: 767px;

// Transition
$transition-300: ease 0.3s;
$transition-800: ease 0.8s;
$transition-out:  ease-out 0.8s;
